.frameChild {
  height: 256px;
  width: 1440px;
  position: relative;
  background-color: var(--pink);
  display: none;
  max-width: 100%;
}
.b {
  position: relative;
  line-height: 50px;
  z-index: 1;
}
.contentItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-7xl);
}
.loremIpsum {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  color: var(--gray-2);
  white-space: nowrap;
  z-index: 1;
}
.contentItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.contentItemsChild {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--main);
  box-sizing: border-box;
  opacity: 0.2;
  z-index: 1;
}
.contentItems1 {
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-lgi) 0px var(--padding-xl);
}
.loremIpsumDolorSitAmetConWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-34xl);
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-mid) 0px var(--padding-lg);
}
.rectangleParent {
  flex: 1;
  background-color: var(--pink);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-61xl) var(--padding-221xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.cleanaroHomePageInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-33xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--main);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 1225px) {
  .rectangleParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .b {
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }

  .rectangleParent {
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-101xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .b {
    font-size: var(--font-size-5xl);
    line-height: 30px;
  }

  .loremIpsum {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }

  .rectangleParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}