.videoIcon {
  height: 80px;
  width: 80px;
  position: relative;
  border-radius: var(--br-46xl);
  z-index: 1;
}
.parent {
  height: 420px;
  flex: 0.1413;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-155xl) var(--padding-224xl) var(--padding-147xl);
  box-sizing: border-box;
  position: relative;
  min-width: 368px;
  max-width: 100%;
}

@media screen and (max-width: 1050px) {
  .parent {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .parent {
    min-width: 100%;
  }
}